<configuration>
    <!-- Definindo o appender para o console -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%-5level] %C %M %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Definindo o appender para o arquivo -->
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>clinica-administrativo/logs/adminLogs.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] [%-5level] %C %M %logger{36}.%M - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Definindo o nível de log e associando os appenders -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>